*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Azeret Mono", monospace;
}
/* shareable start*/
.text-center{
    text-align: center;
}
.margin{
    margin: 20px 0px;
}
.second-hero-a{
    text-decoration: none;
    color: #0D1321;
}
.button-design{
    padding: 5px 10px;
    margin: 20px 0px;
}
.width{
    width: 50%;
}
.h4-margin{
    margin: 15px 0;
}
.development-target-section{
    width:70% ;
    margin: 5px auto 90px;
}
/* shareable end */


/* rohan-r start */
.rohan-r{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 ;
}
.rohan-r button{
    border-radius: 5px;
    padding:5px 8px;
}
.rohan-r a{
    text-decoration: none;
    color:rgb(61, 66, 77);
}
/* rohan-r end */
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 0px 100px;

}
.hero-content{
    width: 85%;
    margin: 0 auto;
}
.hero-content h1{
    font-weight: bolder;
    font-size: 45px;
}
.hero-content button{
    background-color: black;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    border-radius: 5px;
}
.hero-content a{
    text-decoration: none;
    color: #FFFFFF;
}

/* .why-development{
    width:70% ;
    margin: 5px auto 90px;
} */
/* second-hero-section start */
.second-hero-section1{
    display: flex;
    width: 70%;
    margin: 5px auto 80px;
}
.second-hero-section2{
    display: flex;
    width: 70%;
    margin: 5px auto 80px;
}
.second-hero-section3{
    display: flex;
    width: 70%;
    margin: 5px auto 80px;
}
.bg-color{
    background-color:  lavender;
    padding: 30px 0px 0px 0px;
    width: 80%;
    margin: 0px auto;
    border-radius: 8px;
}
/* second-hero-section end */


/* third-hero-section start */
.third-hero-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto 100px;
}
iframe{
    border-radius: 10px;
}
/* third-hero-section end */

/* forth-hero-section start */
.forth-hero-section{
    display: flex;
    gap: 10px;
    width: 80%;
    margin: 5px auto 80px;
}
.forth-hero-section a{
    color: #0D1321;
    font-weight: bolder;
    margin: 20px 0px;
    /* margin: 200px 0; */
}
.forth-one{
    background-color: bisque;
    padding: 40px;
}
.forth-two{
    background-color: lightcyan;
    padding: 40px;
}
.forth-third{
    background-color: rgb(255, 253, 242);
    padding: 40px;
}
/* forth-hero-section end */
.sixth-hero-section{
    background-image: url("./assets/handshake.jpg");
    background-position: center;
    background-repeat:no-repeat ;
    border-radius: 5px;
    padding: 20px 50px;
    width: 80%;
    margin: 5px auto 30px;
    color: #FFFFFF;
}
div input[type="text"], input[type="button"]{
    padding: 5px 10px;
    margin: 10px 0px;
}
.last-section{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px auto 30px;
}

